@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #3CAF2A;
    --project-color: rgba(5, 5, 5, 0.8);
    --secondary-color: #50d03c23;
    --bg-color: #121212;
    --light-color: #FFFFFF;
}

body {
    background-color: var(--bg-color);
    overflow-x: hidden;
}