@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #3CAF2A;
    --secondary-color: #50D03C;
    --bg-color: #121212;
    --light-color: #FFFFFF;
}

body {
    background-color: var(--bg-color);
}